@import url("./rodape/rodape.css");
.rodape {
    background: #462D1C;
    color: #fdfdfd;
    text-align: right;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
    width: 100%;
}

@media screen and (min-width: 0) {
    .rodape {
        font-size: 1.125rem;
    }
}
@media screen and (min-width: 768px) {
    .rodape {
        font-size: 2rem;
    }
}